<!DOCTYPE html >
 <html>
    <head>
      {% load staticfiles %}
      <script src="{% static "js/jquery-1.11.1.js" %}"></script>
      <script src="{% static "js/tweets-jquery.js" %}"></script>
      <script src="{% static "js/tweets-ajax.js" %}"></script>
      <title> Twitter tweets </title>
    </head>
    <body>
      <div>
          <h1>Twitter Tweets </h1>
      </div>
      <div>
      <form id="tweet_form"> 
          {% csrf_token %}
          Username:<input type="text" id='name'>
          Count:<input type="text" id='count'>
          <input type="submit" value="SUBMIT" />
      </form>
      </div> 
          <div>
          <strong id="tweets_found">{{ tweets }}</strong>
          </div>
    </body>
</html>
